body {
    background: #fff;
    color: #444;
    font-family: "Montserrat", sans-serif;
}

a {
    color: #2196f3;
    text-decoration: none;
    background-color: transparent;
}

.btn-info {
    color: #2b3445;
    background-color: #2196f3;
    border-color: #69b3fe;
    box-shadow: none;
}

.nav-link {
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #eeeeee;
}

.navbar-light .nav-link>i {
    color: #ffffff;
}

.navbar-light .nav-item:hover .nav-link:not(.disabled),
.navbar-light .nav-item:hover .nav-link:not(.disabled)>i {
    color: #dddddd;
}

.navbar-light .nav-item.active .nav-link:not(.disabled)>i,
.navbar-light .nav-item.show .nav-link:not(.disabled)>i,
.navbar-light .nav-item.dropdown .nav-link:focus:not(.disabled)>i {
    color: #dddddd;
}

.navbar-light .navbar-tool-icon-box {
    color: #4b566b;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #dddddd !important;
}


/* Topbar danger */

.topbar-danger .topbar-text,
.topbar-danger .topbar-link {
    color: rgba(255, 255, 255, 0.9);
}

.topbar-danger .topbar-text>i,
.topbar-danger .topbar-link>i {
    color: #ffffff;
}

.topbar-danger .topbar-text.text-muted,
.topbar-danger .topbar-text>.text-muted,
.topbar-danger .topbar-link.text-muted,
.topbar-danger .topbar-link>.text-muted {
    color: rgba(255, 255, 255, 0.45) !important;
}

.topbar-danger .topbar-link:hover {
    color: #fff;
}

.topbar-danger .topbar-link.active {
    color: #fff;
}

.topbar-danger .show .topbar-link {
    color: #fff;
}

.topbar-danger .cz-carousel [data-controls] {
    color: rgba(255, 255, 255, 0.65);
}

.topbar-danger .cz-carousel [data-controls]:hover {
    color: #fff;
}

.sb-facebook {
    background-color: #3b5998;
    color: #ffffff;
}

.sb-google {
    background-color: #ea4335;
    color: #ffffff;
}

.solde {
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 15px;
}

.connexion-social {
    display: block;
    width: 100%;
}

.product-badge.product-available {
    background-color: #58b130;
    color: #fff;
}

.product-badge.product-available::after {
    border-color: rgba(66, 214, 151, 0);
    border-bottom-color: #29bc7d;
}

.product-badge.product-rupture {
    background-color: #f50707;
    color: #fff;
}

.product-badge.product-rupture::after {
    border-color: rgba(66, 214, 151, 0);
    border-bottom-color: #c20909;
}

.product-badge.product-bientot {
    background-color: #f55207;
    color: #fff;
}

.product-badge.product-bientot::after {
    border-color: rgba(66, 214, 151, 0);
    border-bottom-color: #bd3e03;
}


.page-title-overlap{
    background: #010101 !important;
}


.toggle1 {
	background: #DDD;
	width: 100px;
	height: 50px;
	border-radius: 100px;
	display: block;
	appearance: none;
	-webkit-appearance: none;
	position: relative;
	cursor: pointer;
	float: left;
}
.toggle1:after {
	content: "";
	background: #999;
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	position: absolute;
	left: 0px;
	transform: scale(0.9);
	cursor: pointer;
	transition: all 0.4s ease;
}
.toggle1:checked {
	background: #EEE;
}
.toggle1:checked:after {
	background: #58b130;
	left: 50px;
}

.custom-radio .custom-control-label::before {
    display: none;
}


.grayscale{filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
}

.grayscale2{filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
    width:40px;
    height:30px;
}

.grayscale:hover{filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    /*filter: saturate(200%);
    -webkit-filter: saturate(200%);
    -moz-filter: saturate(200%);
    -o-filter: saturate(200%);
    -ms-filter: saturate(200%);*/

    /*-moz-transform: rotate(0deg) scale(1.1);
    -webkit-transform: rotate(0deg) scale(1.1);
    -o-transform: rotate(0deg) scale(1.1);
    -ms-transform: rotate(0deg) scale(1.1);
    transform: rotate(0deg) scale(1.1);
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 1px 1px 5px 777;*/
}

/* .principal:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid 10px #fafafa;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
} */


.product-title a{
    color: #2196f3;
}

.mega-nav .dropdown-menu > .dropdown > a {
    padding-top: .20rem;
    padding-bottom: .20rem;
    border-bottom: 1px solid #e3e9ef;
}

.produit-img{
    height: 200px;
    overflow:hidden;
}

.active .cz-handheld-toolbar-icon {
    display: block;
    color: #3676ec;
    font-size: 1.25rem;
  }

.active .cz-handheld-toolbar-label {
    display: block;
    color: #3676ec;
    font-size: 0.6875rem;
}

.navbar {
    padding: 0.2rem 0.5rem;
}


.modal-dialog {
    margin: 0rem;
    margin-bottom: 30px;
}

.modal-content {
    height: 100vh;
}

.modal-body {
    background: #ffffff;
}

.modal-header {
    padding: 0.5rem 1.25rem;
}

.product-card {
    padding-bottom: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.085);
    transition: all 0.15s ease-in-out;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
  }

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1977cc;
    border-top-color: #d1e6f9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.navbar-tool-icon-box {
    width: 2rem;
    height: 2rem;
}

.navbar-tool .navbar-tool-label {
    top: -0.3125rem;
    right: -0.3125rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
}

.navbar-tool-icon {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.input-group-append-overlay, .input-group-prepend-overlay {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 5;
    right: 0;
}

.col-form-label {
    padding-top: calc(0.500rem + 0px);
    padding-bottom: 0;
    margin-bottom: -7px;
    z-index: 20;
    background: #fff;
    width: 123px;
    margin-left: 30px;
}

.custom-select {
    height: calc(1.5em + 1.25rem + 10px);
    padding: 0.625rem 2rem 0.625rem 1rem;
}

  .invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e81b1f;
    text-align: center;
}

.custom-option-label {
    position: relative;
    min-width: 3rem;
    height: 3rem;
    margin-bottom: 0;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border: 1px solid #00050a;
    border-radius: 0.1875rem;
    color: #4b566b;
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.75rem;
    cursor: pointer;
}

.custom-option-color {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -1.27rem;
    margin-left: -1.27rem;
    background-position: top left;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.custom-option-label {
    position: relative;
    min-width: 3rem;
    height: 3rem;
    margin-bottom: 0;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border: 1px solid #11151d;
    border-radius: 0.1875rem;
    color: #4b566b;
    font-size: 0.75rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.75rem;
    cursor: pointer;
    padding-top: 8px;
}


.cpButton button {
    content: "Je confirme";
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: normal;
    border: 1px solid #2196f3;
    color: #ffffff;
    background: #2196f3;
    position: relative;
    text-shadow: none;
    cursor: pointer;
    z-index: 0;
    width: 100%;
}

.cpButton button.large {
    padding: 0.625rem 1.375rem;
}

.cpButton button:before {
    content:none;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 0;
    top: auto;
    left: auto;
    background: transparent;
    z-index: -2;
}
.cpButton button:after {
    content:none;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 0;
    top: auto;
    left: auto;
    background: transparent;
    z-index: -2;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.4375rem - 1px);
    border-top-right-radius: calc(0.4375rem - 1px);
    height: 150px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    white-space: normal;
}

.nav-pills .nav-link {
    padding-top: 0.475rem;
    padding-bottom: 0.475rem;
}
